.searchBox{
    height: 100px;
    text-align: center;
    padding-top:80px ;
    padding-bottom: 10px;
}
input{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.imageBox{
    text-align: center;
}
.pagination{
    text-align: center;
    margin: 20px 0;
}